.azTaskbar-Tooltip{
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 4px 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.azTaskbar-Separator{
  background-color: rgba(211, 211, 211, 0.5);
  margin: 0px 3px;
}

.azTaskbar-indicator{
  height: 3px;
  width: 7px;
  border-radius: 25px;
  transition-duration: 300ms;
}

.azTaskbar-AppButton{
  padding: 0px 8px;
  border-radius: 99px;
  margin: 0px 1px;
  transition-duration: 300ms;
}

.azTaskbar-AppButton:hover, .azTaskbar-AppButton:focus{
  background-color: rgba(211, 211, 211, 0.20);
}

.azTaskbar-AppButton:active, .azTaskbar-AppButton:checked{
  background-color: rgba(211, 211, 211, 0.25);
}

.azTaskbar-symbolic-icon{
  -st-icon-style: symbolic;
}

.azTaskbar-multi-window-indicator{
  margin: 5px 0px 0px 2px;
  padding: 1px;
  border-radius: 99px;
  background-color: rgba(48, 48, 48, 1);
  border: 1px solid rgba(204, 204, 204, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.7);
  color: white;
  transition-duration: 300ms;
}

.azTaskbar-window-preview-menu-item {
  padding: 4px;
}

.azTaskbar-window-preview-header-box{
  spacing: 6px;
  padding: 0px;
  margin: 2px 0px 4px 3px;
}

.azTaskbar-window-preview-close-button{
  padding: 0px;
  margin: 0px;
}
